/*Przycisk powrotu do menu głównego*/
.backToMM {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #F7E0DF;
    width: 70px;
    height: 70px;
    color: black;
    border-color: black;
    border-radius: 15px;
}

/*NAWIGACJA (ZAKŁADKI)*/
/*Kontener nawigacji*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Nie włączony przycisk*/
.navBtn {
    background-color: #FFF3F2;
    color: black;
    width: stretch;
    height: 40px;
    border: 1px solid black;
}

/*Włączony przycisk*/
.navBtnActive {
    background-color: #F7E0DF;
    color: black;
    width: stretch;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid black;
}

/*ZAKŁADKA*/
/*Kontener zakładki*/
.tab {
    display: flex;
    flex-direction: row;
    color: black;
    width: 100vw;
    height: 100%;
    align-self: center;
}


/*PLAN DNIA*/

/*DODAWANIE DNIA*/
/*Przycisk dodania dnia*/
.addDayBtn {
    background-color: #FFF3F2;
    align-self: center;
    width: 70px;
    height: 70px;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 40px;

}

.addDayBtn:hover {
    background-color: #F7E0DF;
    transform: translate(5px, -5px);
    transition: 0.3s;
    box-shadow: -10px 10px 10px #F7E0DF;
}

/*Tło pod dodawaniem dnia*/
.addDayWindow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Półprzezroczysta czerń */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Musi być wyżej niż reszta strony */
}

/*Okno dodawania planu*/
.addDayHeader {
    background-color: #FFECEB;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

/*Pole do wpisania nazwy dnia*/
.addDayHeader input {
    background-color: lightgray;
    padding: 3px;
    color: black;
    margin-bottom: 5px;
}

/*DODANY DZIEŃ*/
.dayWrapper {
    background-color: #FFF3F2;
    width: 25vw;
    height: 70vh;
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 40px;
}

/*Pole nazwy dnia*/
.nameDayCon {
    display: flex;
    flex-direction: column;
}

/*Nazwa dnia*/
.dayName {
    color: black;
    align-self: center;
}

/*Przycisk usunięcia dnia*/
.deleteBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-color: #DDC6DE;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    color: black;
}

.deleteBtn:hover {
    background-color: #F7E0DF;
}

/*Przycisk edycji nazwy dnia*/
.editDayBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-color: #DDC6DE;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.editDayBtn:hover {
    background-color: #F7E0DF;
}

/*Kontener w którym są (kilka) godzin, nazwy aktywności i przyciski usunięć aktywności i godzin tych aktywności*/
.actvSpace {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Przycisk dodania aktywności w planie dnia*/
.addActivityBtn {
    align-self: center;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-color: #DDC6DE;
    border: 2px solid black;
    color: black;
}

.addActivityBtn:hover {
    background-color: #F7E0DF;
}

/*Kontener w którym jest pojedyncza aktywność, godzina i przycisk usunięcia*/
.spaceWrapper {
    width: 100%;
    background-color: #FFF3F2;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*.spaceWrapper input {
    padding: 12px 15px;
    margin: 5px 0;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #fafafa;
    font-size: 14px;
    transition: all 0.2s;
    box-sizing: border-box;
    color: black;
    align-self: center;
}*/

.hourInput {
    width: 20%;
    padding: 12px 6px;
    margin: 5px 0;
    margin-left: 10px;
    border: 1px solid #FFF3F2;
    background-color: #FFF3F2;
    border-bottom-color: black;
    font-size: 14px;
    transition: all 0.2s;
    box-sizing: border-box;
    color: black;
    align-self: center;
}

.actvInput {
    width: 80%;
    padding: 12px 6px;
    margin: 5px 0;
    margin-left: 10px;
    border: 1px solid #FFF3F2;
    background-color: #FFF3F2;
    border-bottom-color: black;
    font-size: 14px;
    transition: all 0.2s;
    box-sizing: border-box;
    color: black;
    align-self: center;
}

.spaceWrapper input:focus {
    background-color: #FFF9F7;
    border-color: grey;
    border-radius: 15px;
    outline: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/*Przycisk usunięcia aktywności*/
.delActvBtn {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    background-color: #DDC6DE;
    align-items: center;
    border: 2px solid black;
    color: black;
}

.delActvBtn:hover {
    background-color: #F7E0DF;
}